<div class="page-wrapper">
  <div class="main-content">
    <h1>SIGN UP</h1>
    <form class="auth-form validation-form" [formGroup]="signUpForm">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="signUpForm.controls.username.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword"
               [errorStateMatcher]="confirmPasswordErrorStateMatcher">
        <mat-error *ngIf="signUpForm.controls.confirmPassword.hasError('required')">
          Confirm Password is required
        </mat-error>
        <mat-error *ngIf="!signUpForm.controls.confirmPassword.hasError('required') && signUpForm?.errors?.['PasswordNoMatch']">
          Password and Confirm Password does not match
        </mat-error>
      </mat-form-field>
      <div style="text-align: left;">

      </div>
      <button mat-fab extended type="button" (click)="onSignUpFormSubmit()">
        <mat-icon>create</mat-icon>
        Sign Up
      </button>
      <a mat-button routerLink="/login" type="button" style="margin-top: 15px;">
        Already have an account? Login Here
      </a>
    </form>
  </div>
</div>
