<div class="page-wrapper">
  <div class="main-content">
    <h1>LOGIN</h1>
    <form class="auth-form validation-form" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="loginForm.controls.username.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <button mat-fab extended type="button" (click)="onLoginFormSubmit()">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <a mat-button routerLink="/sign-up" type="button" style="margin-top: 15px;">
        Don't have an account? Register Here
      </a>
    </form>
  </div>
</div>
